<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-reboot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <div class="menu__logo">
            <img class="logo" src="{{ url_for('static', filename='images/home.svg') }}">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Влажность в помещении</a></li>
                <li><a href="{{ url_for('light') }}">Освещенность</a></li>
                <li><a href="{{ url_for('sprayer') }}">Влажность в почве</a></li>
                <li><a href="{{ url_for('temperature') }}">Мониторинг температур</a></li>
            </ul>
        </nav>
    </div>
    <sec class="main">
        <div class="_container">
            <div id="time">Загрузка времени...</div>
            <div class="main__content content-main">
                <div class="content-main__item item-main">
                    <div class="item-main__header">
                        <div class="item-main__logo">
                            <img class="logo" src="{{ url_for('static', filename='images/sensor.png') }}">
                        </div>
                        <div class="item-main__title title">
                            <h1><span>Датчик: </span>датчик температуры</h1>
                        </div>
                    </div>
                    <div class="item-main__content">
                        <h2>Текущее значение температуры: <span id="currentTemperature">{{ temperature }}</span>°C</h2>
                        <h2>Порог срабатывания датчика (минимальный): <span id="currentTemperatureThresholdMin">{{ temperature_threshold_min }}</span>°C</h2>
                        <h2>Порог срабатывания датчика (максимальный): <span id="currentTemperatureThresholdMax">{{ temperature_threshold_max }}</span>°C</h2>
                    </div>
                    <form class="text-field" id="temperatureThresholdFormMin">
                        <label class="text-field__label" for="temperature_threshold_min">Изменить порог срабатывания датчика температуры (мин):</label>
                        <input class="text-field__input" type="number" id="temperature_threshold_min" name="temperature_threshold_min" value="{{ temperature_threshold_min }}" oninput="validateThresholds()">
                        <button class="text-field__button" type="submit">Применить</button>
                    </form>
                    <form class="text-field" id="temperatureThresholdFormMax">
                        <label class="text-field__label" for="temperature_threshold_max">Изменить порог срабатывания датчика температуры (макс):</label>
                        <input class="text-field__input" type="number" id="temperature_threshold_max" name="temperature_threshold_max" value="{{ temperature_threshold_max }}" oninput="validateThresholds()">
                        <button class="text-field__button" type="submit">Применить</button>
                    </form>
                </div>
                <div class="content-main__item item-main">
                    <h1>Мониторинг температур</h1>
                    <h2>График температур</h2>
                    <canvas id="temperatureChart" width="400" height="200"></canvas>
                </div>
            </div>
            <div class="bell-main__item">
                    <h2>Уведомление</h2>
                    <table id="temperatureTable">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Температура (°C)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
            </div>
        </div>
    </sec>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script-temperature.js') }}"></script>
</body>
</html>
