html {
    height: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14pt;
    min-height: 100%;
    line-height: 1;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1
}
.logo {
    width: 40px;
    height: 40px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0e43c3;
}
nav
{
    margin: 0 auto;
    background-color: #0e43c3;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a {
    display: block;
    padding: 14px 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    transition: all 0.2s;
    background-color: #dcdcdc;
    color: black;
}
._container {
    padding: 50px 100px;
}
#time {
    margin-bottom: 50px;
}

.logo-device {
    width: 260px;
    height: 260px;
}
.item-devices {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.content-main {
    display: flex;
    justify-content: space-between;
}

.item-main__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.item-main {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 500px;
    height: 300px;
    padding: 50px 70px;

    border: 1px solid rgba(14, 67, 195, 1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}
.item-main:not(:last-child) {
    width: 60%;
}
.item-main:last-child {
    width: 38%;
}
.title h1 {
    font-size: 24pt;
    font-weight: normal;
}
.item-main__content h2 {
    font-size: 20pt;
    font-weight: bold;
}
.item-main__title {
}

.bell-main__item {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 500px;
    min-height: 100px;
    padding: 50px 70px;

    border: 1px solid rgba(14, 67, 195, 1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
    width: 100%;
}

.bell-main__item h2 {
    margin-right: 30px;
}

tbody {
    overflow-y: auto;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
table {
    width: 100%;
    table-layout: fixed;
}

thead {
    background-color: #f0f0f0;
}

h1 span {
    color: #0e43c3;
    font-weight: bold;
}
h2 span {
    color: #0e43c3;
    font-weight: bold;
}

.status_on {
    color: #118c4e;
}
.status_off {
    color: #c30e0e;
}
.text-field {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-field__label {
    display: block;
    font-weight: normal;
}
.text-field__input {
    margin-left: 10px;
    display: block;
    min-width: 300px;
    height: 35px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bell-main__item-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#clearStorageButton {
    margin-bottom: 4px;
}

.text-field__button {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 25px;
    margin-left: 10px;
	outline: none;
	border: 1px solid #000000;
	border-radius: 50px;
    text-transform: uppercase;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #000000;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 20%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.text-field__button:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.text-field__button:hover {
	transition: all 0.2s;
    border: 1px solid #0e43c3;
    color: #0e43c3;
	box-shadow: 0 7px 14px rgb(65 132 144 / 30%), 0 3px 6px rgb(0 0 0 / 8%);
}
.text-field__button:active {
	background-color: #808080;
}
.text-field__button:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}

.indicator {
    margin: 20px auto; width: 300px; height: 30px; background: #ddd; border-radius: 15px; position: relative;
}
.indicator .level {
    height: 100%; background: #4caf50; border-radius: 15px; transition: width 0.3s;
}
.history {
    margin-top: 20px; max-width: 400px; margin-left: auto; margin-right: auto; text-align: left;
}

.switch-btn {
  display: inline-block;
  width: 72px;
  height: 38px;
  border-radius: 19px;
  background: #c30e0e;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.switch-btn::after {
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 17px;
  background: #fff;
  top: 3px;
  left: 3px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #118c4e;
}
.switch-on::after {
  left: 37px;
}

.footer {
    background: #0e43c3;
}

.main-footer {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.main-footer__item p {
    font-size: 12pt;
    color: #789fff;
}

.main-footer__title {
    font-weight: bold;
    margin-bottom: 8px;
}

.main-footer__name:not(:last-child) {
    margin-bottom: 6px;
}
.main-footer__item a {
    font-size: 12pt;
    color: #789fff;
    text-decoration: none;
}
.main-footer__item a:hover {
    color: #bcd0ff;
    text-decoration: underline;
}

p {
    margin: 0;
}